## Z-тест для пропорций

In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.stats.proportion import proportions_ztest


ab_data = pd.read_csv('data/ab_data.csv')
ab_data.head(2)

   user_id   timestamp group  converted
0   851104  2017-01-21     A          0
1   804228  2017-01-12     A          0

In [16]:
# Группируем данные по группе и выводим кол-во успехов - сумма в converted и кол-во непустых ячеек в converted

converted_piv = ab_data.groupby('group')['converted'].agg(['sum', 'count'])
display(converted_piv)

         sum   count
group
A      17467  145241
B      17238  145241

Отрабатываем гипотезы

In [17]:
H0 = 'Конверсии А и В равны'
H1 = 'Конверсии в А больше, чем в В'

# Уровень значимости альфа
alpha = 0.01

# Вычислим p-value для z-теста (p-value – это «жизнеспособность» нуле-вой гипотезы, которую мы оцениваем по имеющимся данным)
_, p_value = proportions_ztest(
    count=converted_piv['sum'],
    nobs=converted_piv['count'],
    alternative='smaller'
)

# Вернем значение p-value
print('P_value:', round(p_value, 2))

# Сравним p_value с уровнем значимости alpha
if (p_value < alpha):
    print('Отвергаем нулевую гипотезу. {}'.format(H0))
    print('Альтернативная гипотеза. {}'.format(H1))
    
else:
    print('Принимаем нулевую гипотезу. {}'.format(H0))

P_value: 0.9
Принимаем нулевую гипотезу. Конверсии А и В равны