# Введение в разведывательный анализ

## Алгоритмы и методы

### Знакомство с данными

Задание 4.1
<br>Сколько всего дегустаторов приняло участие в винных обзорах?

In [37]:
import pandas as pd
wine_data = pd.read_csv('data/wine.csv') # Загружаем данные из файла в переменную, создавая объект DataFrame
#wine_data.info()
#wine_data['taster_name'].value_counts() #сколько раз упоминается имя дегустатора
#wine_data['taster_name'].nunique() #количество уникальных дегустаторов в наборе данных
#wine_data.head()
#wine_data.set_option('display.max_columns', None)
wine_data.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [38]:
wine_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                129908 non-null  object
 1   description            129971 non-null  object
 2   designation            92506 non-null   object
 3   points                 129971 non-null  int64
 4   price                  120975 non-null  float64
 5   province               129908 non-null  object
 6   region_1               108724 non-null  object
 7   region_2               50511 non-null   object
 8   taster_name            103727 non-null  object
 9   taster_twitter_handle  98758 non-null   object
 10  title                  129971 non-null  object
 11  variety                129970 non-null  object
 12  winery                 129971 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 12.9+ MB

Задание 4.2
<br>Какова максимальная цена за бутылку в этом наборе данных?
<br>Введите целое число.

In [39]:
import pandas as pd
wine_data = pd.read_csv('data/wine.csv') # Загружаем данные из файла в переменную, создавая объект DataFrame
#wine_data.info()
round(wine_data['price'].max()) #максимальная цена за бутылку в этом наборе данных

3300

Задание 5.3
<br>
Проанализируйте датасет на наличие дублирующихся винных обзоров. Если дублирующиеся записи есть, удалите их.

In [40]:
import pandas as pd
wine_data = pd.read_csv('data/wine.csv') # Загружаем данные из файла в переменную, создавая объект DataFrame

mask = wine_data.duplicated(subset=wine_data.columns) # маска для фильтрации
data_duplicates = wine_data[mask] # фильтруем наш датасет
print(f'Число найденных дубликатов: {data_duplicates.shape[0]}')

Число найденных дубликатов: 9983

Задание 5.5
Обработайте пропущенные значения в наборе данных любым известным вам способом, который вы изучили в модуле PYTHON-14. Очистка данных.
<br><br>Воспользуйтесь правилами:
<br><br>Если какой-то из признаков имеет более 30-40 % пропусков, лучше избавьтесь от него: его заполнение может привести к сильному искажению общего распределения, а удаление записей — к большой утрате данных.
<br><br>Заполняйте данные с умом! Если перед вами количественный признак, то использование нецелого числа в качестве константы является как минимум нелогичным.
<br><br>Вы можете оставить пропуски как есть, просто заменив их на какой-то специальный символ. Например, для числовых неотрицательных признаков можно использовать число -1, а для категориальных — строку 'unknown'.

In [41]:
import pandas as pd
wine_data = pd.read_csv('data/wine.csv') # Загружаем данные из файла в переменную, создавая объект DataFrame

cols_null_percent = wine_data.isnull().mean() * 100 #Вычисляем процент пропусков по каждому признаку
cols_null_percent = cols_null_percent[cols_null_percent > 0].sort_values(ascending=False) #Производим сортировку по убыванию
display(cols_null_percent)

'''drop_data = wine_data.copy()
thresh = drop_data.shape[0] * 0.7
drop_data = drop_data.dropna(how='any', thresh=thresh, axis=1)
drop_data.isnull().mean'''

region_2                 61.136715
designation              28.825661
taster_twitter_handle    24.015357
taster_name              20.192197
region_1                 16.347493
price                     6.921544
country                   0.048472
province                  0.048472
variety                   0.000769
dtype: float64

"drop_data = wine_data.copy()\nthresh = drop_data.shape[0] * 0.7\ndrop_data = drop_data.dropna(how='any', thresh=thresh, axis=1)\ndrop_data.isnull().mean"

In [44]:
#Удаляем признак с количеством пропусков более 30%
drop_data = wine_data.copy()
thresh = drop_data.shape[0] * 0.7
drop_data = drop_data.dropna(thresh=thresh, axis=1)
drop_data.isnull().mean().sort_values(ascending=False)
display(drop_data.info())

#Добавление признаков - индикаторов True False
#indicator_data = wine_data.copy()
#в цикле пробегаемся по названиям столбцов с пропусками
#for col in cols_null_percent.index:
    #создаем новый признак-индикатор как col_was_null
#    indicator_data[col + '_was_null'] = indicator_data[col].isnull()
#indicator_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 12 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                129908 non-null  object
 1   description            129971 non-null  object
 2   designation            92506 non-null   object
 3   points                 129971 non-null  int64
 4   price                  120975 non-null  float64
 5   province               129908 non-null  object
 6   region_1               108724 non-null  object
 7   taster_name            103727 non-null  object
 8   taster_twitter_handle  98758 non-null   object
 9   title                  129971 non-null  object
 10  variety                129970 non-null  object
 11  winery                 129971 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 11.9+ MB

None

In [45]:
# Заменяем пропуски для чисел на -1 и для объектов на unknown
fill_wine_data = drop_data.copy()
# Создаем словарь для заполнения (имя столбца : число/признак на который надо заменить пропуск)
values = {
    'designation': 'unknown',
    'taster_twitter_handle': 'unknown',
    'taster_name': 'unknown',
    'region_1': 'unknown',
    'price': -1,
    'country': 'unknown',
    'province': 'unknown',
    'variety': 'unknown'
}
# заполняем пропуски в соответствии со словарем
fill_wine_data = fill_wine_data.fillna(values)

# проверяем долю пропусков
fill_wine_data.isnull().mean()

country                  0.0
description              0.0
designation              0.0
points                   0.0
price                    0.0
province                 0.0
region_1                 0.0
taster_name              0.0
taster_twitter_handle    0.0
title                    0.0
variety                  0.0
winery                   0.0
dtype: float64

In [46]:
fill_wine_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 12 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                129971 non-null  object
 1   description            129971 non-null  object
 2   designation            129971 non-null  object
 3   points                 129971 non-null  int64
 4   price                  129971 non-null  float64
 5   province               129971 non-null  object
 6   region_1               129971 non-null  object
 7   taster_name            129971 non-null  object
 8   taster_twitter_handle  129971 non-null  object
 9   title                  129971 non-null  object
 10  variety                129971 non-null  object
 11  winery                 129971 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 11.9+ MB

In [ ]:
fill_wine_data.describe(include='all')

,country,description,designation,points,price,province,region_1,taster_name,taster_twitter_handle,title,variety,winery
count,129971,129971,129971,129971.000000,129971.000000,129971,129971,129971,129971,129971,129971,129971
unique,44,119955,37980,NaN,NaN,426,1230,20,16,118840,708,16757
top,US,"Seductively tart in lemon pith, cranberry and ...",unknown,NaN,NaN,California,unknown,unknown,unknown,Gloria Ferrer NV Sonoma Brut Sparkling (Sonoma...,Pinot Noir,Wines & Winemakers
freq,54504,3,37465,NaN,NaN,36247,21247,26244,31213,11,13272,222
mean,NaN,NaN,NaN,88.447138,32.846481,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,3.039730,40.639061,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,80.000000,-1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,86.000000,15.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,88.000000,25.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,91.000000,40.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,100.000000,3300.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Executing shutdown due to inactivity...

2023-03-06 15:39:37,909 - INFO     - Executing shutdown due to inactivity...

Executing shutdown...

2023-03-06 15:39:45,040 - INFO     - Executing shutdown...

Exception on /shutdown [GET]
Traceback (most recent call last):
  File "c:\Users\dmitr\AppData\Local\Programs\Python\Python39\lib\site-packages\flask\app.py", line 2077, in wsgi_app
    response = self.full_dispatch_request()
  File "c:\Users\dmitr\AppData\Local\Programs\Python\Python39\lib\site-packages\flask\app.py", line 1525, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "c:\Users\dmitr\AppData\Local\Programs\Python\Python39\lib\site-packages\flask\app.py", line 1523, in full_dispatch_request
    rv = self.dispatch_request()
  File "c:\Users\dmitr\AppData\Local\Programs\Python\Python39\lib\site-packages\flask\app.py", line 1509, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)
  File "c:\Users\dmitr\AppData\Local\Programs\Python\Python39\lib\site-packages\dtale\app.py", line 410, in shutdown
    shutdown_server()
  File "c:\Users\dmitr\AppData\Local\Programs\Python\Python39\lib\site-packages\dtale\app.py", line 396, in shutdown_server
    raise RuntimeError("Not running with the Werkzeug Server")
RuntimeError: Not running with the Werkzeug Server

2023-03-06 15:39:45,044 - ERROR    - Exception on /shutdown [GET]
Traceback (most recent call last):
  File "c:\Users\dmitr\AppData\Local\Programs\Python\Python39\lib\site-packages\flask\app.py", line 2077, in wsgi_app
    response = self.full_dispatch_request()
  File "c:\Users\dmitr\AppData\Local\Programs\Python\Python39\lib\site-packages\flask\app.py", line 1525, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "c:\Users\dmitr\AppData\Local\Programs\Python\Python39\lib\site-packages\flask\app.py", line 1523, in full_dispatch_request
    rv = self.dispatch_request()
  File "c:\Users\dmitr\AppData\Local\Programs\Python\Python39\lib\site-packages\flask\app.py", line 1509, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)
  File "c:\Users\dmitr\AppData\Local\Programs\Python\Python39\lib\site-packages\dtale\app.py", line 410, in shutdown
    shutdown_server()
  File "c:\Users\dmitr\AppData\Local\Programs\Python\Python39\lib\site-packages\dtale\app.py", line 396, in shutdown_server
    raise RuntimeError("Not running with the Werkzeug Server")
RuntimeError: Not running with the Werkzeug Server

EDA одной строкой Pandas-Profiling

In [ ]:
# Импортируем библиотеки
import pandas as pd
from pandas_profiling import ProfileReport

# Загружаем файл
wine_data = pd.read_csv('data/wine.csv')

# Выводим Profiling отчет и задаем ему имя в кавычках
profile = ProfileReport(wine_data, title = "Wine Pandas Profiling Report")
profile
#profile.to_file("url файла") # вывод файла в формате HTML

EDA одной строкой Sweetviz

In [ ]:
# Импортируем библиотеки
import pandas as pd
import sweetviz as sv

# Загружаем файл
wine_data = pd.read_csv('data/wine.csv')

# Выводим анализ
report = sv.analyze(wine_data)
report.show_html()

EDA одной строкой D-Tale

In [ ]:
# Импортируем библиотеки
import pandas as pd
import dtale

# Загружаем файл
wine_data = pd.read_csv('data/wine.csv')

# Выводим анализ

report = dtale.show(wine_data)
report