## Очистка данных. Закрепление

In [29]:
# Загрузка билиблиотек
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [30]:
# Считывание данных
diabetes = pd.read_csv('data/diabetes_data.csv')
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 778 entries, 0 to 777
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               778 non-null    int64
 1   Glucose                   778 non-null    int64
 2   BloodPressure             778 non-null    int64
 3   SkinThickness             778 non-null    int64
 4   Insulin                   778 non-null    int64
 5   BMI                       778 non-null    float64
 6   DiabetesPedigreeFunction  778 non-null    float64
 7   Age                       778 non-null    int64
 8   Outcome                   778 non-null    int64
 9   Gender                    778 non-null    object
dtypes: float64(2), int64(7), object(1)
memory usage: 60.9+ KB

Признаки дата-сета
- Pregnancies — количество беременностей.
- Glucose — концентрация глюкозы в плазме через два часа при пероральном тесте на толерантность к глюкозе.
- BloodPressure — диастолическое артериальное давление (мм рт. ст.).
- SkinThickness — толщина кожной складки трицепса (мм).
- Insulin — двухчасовой сывороточный инсулин (ме Ед/мл).
- BMI — индекс массы тела
- DiabetesPedigreeFunction — функция родословной диабета (чем она выше, тем выше шанс наследственной заболеваемости).
- Age — возраст.
- Outcome — наличие диабета (0 — нет, 1 — да).

In [31]:
#diabetes.head()
diabetes.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,778.000000,778.000000,778.000000,778.000000,778.000000,778.000000,778.000000,778.000000,778.000000
mean,3.848329,120.822622,69.035990,20.457584,79.521851,31.982262,0.470871,33.317481,0.344473
std,3.360782,31.883264,19.432323,15.954452,114.862405,7.853917,0.330669,11.816300,0.475502
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.241500,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,27.000000,32.000000,0.370000,29.000000,0.000000
75%,6.000000,140.000000,80.000000,32.000000,126.750000,36.500000,0.625500,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

Задание 8.1 <br>
Найдите все повторяющиеся строки в данных и удалите их. Для поиска используйте все признаки в данных. Сколько записей осталось в данных?

In [32]:
#создаем список наименование колонок и удаляем индекс
diabetes_cols = list(diabetes.columns)
#diabetes_cols.remove('id')

# создаем маску дубликатов и выводим количество повторяющихся строк
mask=diabetes.duplicated(subset=diabetes_cols)
diabetes_dupl=diabetes[mask]
display(f'Число повторяющихся строк: {diabetes_dupl.shape[0]}')

'Число повторяющихся строк: 10'

In [33]:
# Удаляем дубликаты строк
diabetes_clear = diabetes.drop_duplicates(subset=diabetes_cols)
display(f'Число повторяющихся строк: {diabetes_clear.shape[0]}')

'Число повторяющихся строк: 768'

Возможный вариант решения <br>
duplicates = diabetes[diabetes.duplicated()]<br>
print('Число дубликтов: {}'.format(duplicates.shape[0]))<br><br>
diabetes = diabetes.drop_duplicates()<br>
print('Результирующее число записей: {}'.format(diabetes.shape[0]))

Задание 8.2 <br>
Далее найдите все неинформативные признаки в данных и избавьтесь от них. В качестве порога информативности возьмите 0.95: удалите все признаки, для которых 95 % значений повторяются или 95 % записей уникальны. В ответ запишите имена признаков, которые вы нашли (без кавычек).

In [34]:
#diabetes['Pregnancies'].value_counts(normalize=False).max()

In [35]:
# поиск неинформативных признаков. Т.е. смотрим по каждому столбцу сколько в нём одинаковых значений и уникальных значений в процентном выражении.
# если одинаковых либо уникальных значений в столбце более 95%, то это НЕИНФОРМАТИВНЫЙ признак
low_information_cols = []
for col in diabetes_clear.columns:
    # частота одинаковых значений в (%)
    top_fraq = diabetes_clear[col].value_counts(normalize=True).max() * 100
    #display(top_fraq)
    nunique_ratio = diabetes_clear[col].nunique() / diabetes_clear[col].count()
    if (top_fraq > 95) | (nunique_ratio > 95):
        low_information_cols.append(col)
        
display(low_information_cols)

['Gender']

In [36]:
#удаляем "неинформативный" признак

diabetes_clear = diabetes_clear.drop(low_information_cols, axis=1)
diabetes_clear.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 60.0 KB

Возможное решение<br>
def low_informative_feature(data):<br>
        low_information_cols = []<br>
        for col in data.columns:<br>
            top_freq = data[col].value_counts(normalize=True).max()<br>
            nunique_ratio = data[col].nunique() / data[col].count()<br>
            if top_freq > 0.95:<br>
                low_information_cols.append(col)<br>
            if nunique_ratio > 0.95:<br>
                low_information_cols.append(col)<br>
        return low_information_cols<br>
    low_information_cols = low_informative_feature(diabetes)<br>
print(low_information_cols)

Задание 8.3 <br>
Попробуйте найти пропуски в данных с помощью метода isnull()

In [37]:
diabetes_clear.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,98,58,33,190,34.0,0.430,43,0
1,2,112,75,32,0,35.7,0.148,21,0
2,2,108,64,0,0,30.8,0.158,21,0
3,8,107,80,0,0,24.6,0.856,34,0
4,7,136,90,0,0,29.9,0.210,50,0

In [38]:
# меняем все нули в DataFrame на NaN
diabetes_nan = diabetes_clear.replace(0, np.nan)
#diabetes_nan.info()

#
display('Доля пропусков в Insulin: {}'.format(diabetes_nan['Insulin'].isnull().mean().round(2)))
#print('Результирующее число записей: {}'.format(diabetes.shape[0]))

'Доля пропусков в Insulin: 0.49'

Альтеранативное решение
def nan_function(x):<br>
    return np.nan if x == 0 else x<br>
diabetes["Glucose"] = diabetes["Glucose"].apply(nan_function)<br>
diabetes["BloodPressure"] = diabetes["BloodPressure"].apply(nan_function)<br>
diabetes["SkinThickness"] = diabetes["SkinThickness"].apply(nan_function)<br>
diabetes["Insulin"] = diabetes["Insulin"].apply(nan_function)<br>
diabetes["BMI"] = diabetes["BMI"].apply(nan_function)<br><br>
diabetes.isnull().mean().round(2).sort_values(ascending=False)<br>

Задание 8.4
<br>Удалите из данных признаки, где число пропусков составляет более 30 %. Сколько признаков осталось в ваших данных (с учетом удаленных неинформативных признаков в задании 8.2)?

In [44]:
# Проверяем какие признаки должны будут удалиться
diabetes_nan.isnull().mean().round(4).sort_values(ascending=False)

Outcome                     0.6510
Insulin                     0.4870
SkinThickness               0.2956
Pregnancies                 0.1445
BloodPressure               0.0456
BMI                         0.0143
Glucose                     0.0065
DiabetesPedigreeFunction    0.0000
Age                         0.0000
dtype: float64

In [45]:
diabetes_nan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               657 non-null    float64
 1   Glucose                   763 non-null    float64
 2   BloodPressure             733 non-null    float64
 3   SkinThickness             541 non-null    float64
 4   Insulin                   394 non-null    float64
 5   BMI                       757 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   268 non-null    float64
dtypes: float64(8), int64(1)
memory usage: 60.0 KB

In [40]:
# Удаляем строки с пропусками более 30% через  thresh
thresh = diabetes_nan.shape[0] * 0.7
diabetes_dropna = diabetes_nan.dropna(thresh=thresh, axis=1)
diabetes_dropna.info()

print(diabetes_dropna.shape[1])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 768 entries, 0 to 767
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               657 non-null    float64
 1   Glucose                   763 non-null    float64
 2   BloodPressure             733 non-null    float64
 3   SkinThickness             541 non-null    float64
 4   BMI                       757 non-null    float64
 5   DiabetesPedigreeFunction  768 non-null    float64
 6   Age                       768 non-null    int64
dtypes: float64(6), int64(1)
memory usage: 48.0 KB
7