### Закрепление знаний

In [3]:
import pandas as pd
import re 

def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None

Задание 8.1 Создайте в таблице новый признак year_release, который соответствует году выпуска фильма.
У скольких фильмов не указан год их выпуска?

In [2]:
import pandas as pd
import re 

def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None

joined = pd.read_csv('data/ratings_movies.csv')

joined['year_release'] = joined['title'].apply(get_year_release)
joined.info()

joined.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    100836 non-null  int64
 1   userId        100836 non-null  int64
 2   movieId       100836 non-null  int64
 3   rating        100836 non-null  float64
 4   date          100836 non-null  object
 5   title         100836 non-null  object
 6   genres        100836 non-null  object
 7   year_release  100818 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 6.2+ MB

,Unnamed: 0,userId,movieId,rating,date,title,genres,year_release
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995.0
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance,1995.0
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller,1995.0
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995.0
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995.0

Задание 8.2 Какой фильм, выпущенный в 1999 году, получил наименьшую среднюю оценку зрителей?
В качестве ответа запишите название этого фильма без указания года его выпуска.<br>
<br>Подсказка (1 из 4): Произведите фильтрацию по условию «год выпуска».
<br>Подсказка (2 из 4): На отфильтрованной таблице произведите группировку по названию фильма(title) и посчитайте среднее по столбцу rating для каждого фильма.
<br>Подсказка (3 из 4): Отсортируйте результат в порядке возрастания.
<br>Подсказка (4 из 4): Индекс первой строки результирующей таблицы будет являться ответом.

In [ ]:
mask = joined['year_release'] == 1999
joined[mask].groupby('title')['rating'].mean().sort_values()

Задание 8.3<br>
Какое сочетание жанров фильмов (genres), выпущенных в 2010 году, получило наименьшую среднюю оценку (rating)?
<br>- Произведите фильтрацию по условию «год выпуска».
<br>- Сгруппируйте отфильтрованную таблицу по жанрам и найдите средний рейтинг для каждого жанра.
<br>- Отсортируйте результат по возрастанию.
<br>- Индекс первой строки результирующей таблицы будет являться ответом.

In [ ]:
mask = joined['year_release'] == 2010 #Фильтрация

joined[mask].groupby('genres')['rating'].mean().sort_values(ascending=True) #Группировка

Задание 8.4 <br>
<br>Какой пользователь (userId) посмотрел наибольшее количество различных (уникальных) жанров (genres) фильмов? В качестве ответа запишите идентификатор этого пользователя.
<br>- Сгруппируйте таблицу по пользователям и найдите число уникальных жанров для каждого пользователя.
<br>- Отсортируйте результат по убыванию.
<br>- Индекс первой строки результирующей таблицы будет являться ответом.

In [ ]:
joined.groupby('userId')['genres'].nunique().sort_values(ascending=False)

Задание 8.5<br>
Найдите пользователя, который выставил наименьшее количество оценок, но его средняя оценка фильмам наибольшая.
<br>В качестве ответа укажите идентификатор этого пользователя.
<br>Чтобы рассчитать несколько параметров для каждого пользователя (количество оценок и среднюю оценку), можно воспользоваться методом agg() на сгруппированных данных.
<br>- Сгруппируйте таблицу по пользователям (userId).
<br>- Для каждого пользователя рассчитайте количество выставленных им оценок и средний рейтинг.
<br>- Отсортируйте таблицу по возрастанию количества оценок и по убыванию среднего рейтинга.
<br>- Индекс первой строки результирующей таблицы будет являться ответом.

In [ ]:
joined.groupby(by='userId')['rating'].agg(['count', 'mean']).sort_values(['count', 'mean'], ascending=[True, False])

#df.groupby(by='group_col')['col'].agg(['mean', 'median', 'count')

Задание 8.6
<br>Найдите сочетание жанров (genres) за 2018 году, которое имеет наибольший средний рейтинг (среднее по столбцу rating), и при этом число выставленных ему оценок (количество значений в столбце rating) больше 10.
<br>- Произведите фильтрацию по условию «год выпуска 2018».
<br>- Сгруппируйте отфильтрованную таблицу по жанрам и найдите средний рейтинг, а также количество выставленных оценок с помощью метода agg().
<br>- Сохраните сгруппированную таблицу.
<br>- Произведите фильтрацию полученной таблицы по условию «количество оценок > 10».
<br>- Отсортируйте результат по столбцу со средним значением по убыванию.
<br>- Индекс первой строки результирующей таблицы будет являться ответом.

In [18]:
my_mask_1 = joined['year_release'] == 2018
my_group = joined[my_mask_1].groupby('genres')['rating'].agg(
     ['mean', 'count']
)
my_group[my_group['count']>10].sort_values(
    by='mean',
    ascending=False
)

                             mean  count
genres
Action|Adventure|Sci-Fi  3.928571     14
Action|Comedy|Sci-Fi     3.875000     12