DataFrame_to_csv

In [1]:
import pandas as pd

countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df.to_csv('data/countries.csv', index=False, sep=';')

In [ ]:
import pandas as pd
countries_data = pd.read_csv('data/countries.csv', sep=';')
display(countries_data)

In [ ]:
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
display(melb_data)

In [ ]:
#print(melb_data.iloc[15, 5])
#print(melb_data.iloc[90, 8])
a = melb_data.iloc[3521, 14]
b = melb_data.iloc[1690, 14]
round(a / b)

melb_data['Type'].value_counts(normalize=True)

Задача 7.2 Чему равно максимальное количество домов на продажу в районе (Propertycount)?

In [57]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
melb_data.head(3)
#melb_data.info()
#melb_data['Propertycount'].max()
#melb_data['Suburb'].value_counts()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,"-37.8093, 144.9944"

Задача 7.3 Чему равно стандартное отклонение (разброс) расстояния от центра города до объекта недвижимости?
<br>Ответ округлите до целого числа.

In [13]:
round(melb_data['Distance'].std())

6

Задача 7.4 Чему равно отклонение (в процентах) медианного значения площади здания от его среднего значения?
<br>Ответ округлите до целого числа. Не указывайте знак %.

In [24]:
med = melb_data['BuildingArea'].median()
mean_data = melb_data['BuildingArea'].mean()
display(abs(round((med - mean_data) / mean_data * 100)))

10

Задача Задан ряд чисел [1, 2, 4, 2, 3, 2, 1, 5, 6]. Чему равна мода в данном ряду?

In [ ]:
x = pd.DataFrame({'data':[1, 2, 4, 2, 3, 2, 1, 5, 6]})#.mode()
display(x)

Задача 7.6 Сколько спален чаще всего встречается в домах в Мельбурне?

In [42]:
melb_data['Bedroom'].mode()

0    3.0
Name: Bedroom, dtype: float64

Задача 8.1 У скольких объектов недвижимости из таблицы melb_data отсутствуют ванные комнаты?

In [43]:
melb_data[melb_data['Bathroom'] == 0].shape[0]

34

Задача 8.2 Сколько в таблице melb_data объектов недвижимости, которые были проданы риелторской компанией Nelson и стоимость которых составила больше 3 миллионов?

In [53]:
melb_data[(melb_data['Price'] > 3000000) & (melb_data['SellerG'] == 'Nelson')].shape[0]

5

Задача 8.3 Какова минимальная стоимость участка без здания (площадь здания равна 0) в таблице melb_data?
<br>Запишите ответ в виде целого числа.

In [54]:
melb_data[melb_data['BuildingArea'] == 0]['Price'].min()

412500.0

Задача 8.4 Какова средняя цена объектов недвижимости в таблице melb_data с ценой менее одного миллиона, в которых либо количество комнат больше пяти, либо здание моложе 2015 года?<br>
Округлите ответ до целого числа.

In [60]:
melb_data[(melb_data['Price'] < 1e6) & ((melb_data['Rooms'] > 5) | (melb_data['YearBuilt'] > 2015))]['Price'].mean()

769238.6363636364

Задача 8.5 В каком районе Мельбурна чаще всего продаются виллы и коттеджи (тип здания — h) с ценой меньше трёх миллионов?

In [65]:
melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3e6)]['Regionname'].mode()

0    Northern Metropolitan
Name: Regionname, dtype: object