### Закрепление знаний PY_10 Введение в Pandas

In [1]:
import pandas as pd
# Читаем файл_csv для заданий

student_data = pd.read_csv('data/students_performance.csv', sep=',')
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

Задача 9.1 
Данные о скольких студентах содержатся в таблице?

In [4]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

Задача 9.2 Каков балл по письму у студента под индексом 155?

In [6]:
display(student_data['writing score'].iloc[155])

88

Задача 9.3, 9.4, 9.5

In [ ]:
student_data.info()

Задача 9.6 Средний балл по математике?

In [14]:
round(student_data['math score'].mean())

66

Задача 9.7 Какая расовая группа является самой крупной в учебном заведении?
В качестве ответа введите идентификатор группы (A, B, C, D, F).

In [19]:
student_data['race/ethnicity'].mode()
#student_data['race/ethnicity'].describe()

0    group C
Name: race/ethnicity, dtype: object

Задача 9.8 Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?
Округлите ответ до целого числа.

In [26]:
result = student_data[student_data['test preparation course'] == 'completed']['reading score'].mean()
display(round(result))

74

Задача 9.9 Сколько студентов получили 0 баллов по математике?

In [33]:
student_data[student_data['math score'] == 0].shape[0]

1

Задача 9.10 Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.
<br> Округлите ответ до целого числа.

In [44]:
mask1 = student_data[student_data['lunch'] == 'free/reduced']['math score'].mean()
mask2 = student_data[student_data['lunch'] == 'standard']['math score'].mean()
display(round(mask2))

70

Задача 9.11 Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?
<br> Округлите ответ до целого числа.
<br> Не указывайте знак %.

In [ ]:
x = student_data[student_data['parental level of education'] == "bachelor's degree"].shape[0]
y = len(student_data['parental level of education'])
round((x/y) * 100)

# получение в долях через normalize
round(student_data["parental level of education"].value_counts(normalize=True) * 100)

Задание 9.12 Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?
<br>Округлите ответ до целого и запишите модуль этого числа.

In [57]:
gr_A = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
gr_C = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].median()
print(abs(round(gr_A - gr_C)))

6