Задание 2.3

In [ ]:
import pandas as pd

def delete_columns(df, col=[]):
    
    for i in col:
        if i not in df:
            return None
    return df.drop(col, axis = 1)
        
    
   
        
    """
    Напишите функцию delete_columns(df, col=[]), которая удаляет столбцы из DataFrame и возвращает новую таблицу. 
    Если одного из указанных столбцов в таблице не существует, то функция должна возвращать None.
    """


if __name__ == '__main__':
    customer_df = pd.DataFrame({
        'number': [0, 1, 2, 3, 4],
        'cust_id': [128, 1201, 9832, 4392, 7472],
        'cust_age': [13, 21, 19, 21, 60],
        'cust_sale': [0, 0, 0.2, 0.15, 0.3],
        'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
        'cust_order': [1400, 14142, 900, 1240, 8430]
    })
    columns_for_delete= [] #выбранные вами столбцы
    new_df = delete_columns(customer_df, columns_for_delete)
    print(new_df)

Задание 2.4

In [ ]:
'''Задан DataFrame countries_df, содержащий следующие столбцы: название страны, население (population)
в миллионах человек и площадь страны (square) в квадратных километрах.
Рассчитайте среднюю плотность населения представленных стран (количество человек на квадратный километр).
Ответ округлите до сотых.
Плотность населения рассчитывается как количество человек, проживающих на территории отдельной страны,
делённое на площадь этой страны. Обратите внимание, что население в таблице представлено в миллионах.'''

import pandas as pd

countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
#print(countries_df)
#display(countries_df)
den_df = countries_df.copy()
#print(den_df)
density = sum((den_df['population'] * 10**6) / den_df['square'])
#print(density)
count_index = countries_df.count()[0]
#print(count_index)
result = round(density / count_index, 2)
print(result)

Признаки даты и времени

In [2]:
import pandas as pd

melb_df = pd.read_csv('data/melb_data_ps.csv', sep=',')
#display(melb_df['Date'])

melb_df = pd.to_datetime(melb_df['Date'], dayfirst=True)
display(melb_df)

0       2016-12-03
1       2016-02-04
2       2017-03-04
3       2017-03-04
4       2016-06-04
           ...
13575   2017-08-26
13576   2017-08-26
13577   2017-08-26
13578   2017-08-26
13579   2017-08-26
Name: Date, Length: 13580, dtype: datetime64[ns]

In [4]:
melb_df.head()

0   2016-12-03
1   2016-02-04
2   2017-03-04
3   2017-03-04
4   2016-06-04
Name: Date, dtype: datetime64[ns]

In [ ]:
# импортируем Pandas и загружаем csv-файл
import pandas as pd
melb_df = pd.read_csv('data/melb_data_ps.csv', sep=',')
#display(melb_df['Date'])

# приводим дату к необходимому виде
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
display(melb_df['Date'])

# работаем по аксессору year
years_sold = melb_df['Date'].dt.year
print(years_sold)
print('Min year sold:', years_sold.min())
print('Max year sold:', years_sold.max())
print('Mode year sold:', years_sold.mode()[0])

In [ ]:
# импортируем Pandas и загружаем csv-файл
import pandas as pd
melb_df = pd.read_csv('data/melb_data_ps.csv', sep=',')
#display(melb_df['Date'])

# приводим дату к необходимому виде
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
#display(melb_df['Date'])

# Выявляем пиковые продажи по месяцам и относительную частоту продаж по месячно от общего кол-ва продаж
melb_df['Month_Sale'] = melb_df['Date'].dt.month
melb_df['Month_Sale'].value_counts(normalize=True)

In [5]:
# импортируем Pandas и загружаем csv-файл
import pandas as pd
melb_df = pd.read_csv('data/melb_data_ps.csv', sep=',')
#display(melb_df['Date'])

# приводим дату к необходимому виде
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
display(melb_df['Date'])

#Вычисляем разницу от 2016-01-01 до дня продажи и результат переводим из формата timedelta в целое число
delta_days = melb_df['Date'] - pd.to_datetime('2016-01-01')
display(delta_days)

#И перевод в целое число через аксессор dt
display(delta_days.dt.days)

0       2016-12-03
1       2016-02-04
2       2017-03-04
3       2017-03-04
4       2016-06-04
           ...
13575   2017-08-26
13576   2017-08-26
13577   2017-08-26
13578   2017-08-26
13579   2017-08-26
Name: Date, Length: 13580, dtype: datetime64[ns]

0       337 days
1        34 days
2       428 days
3       428 days
4       155 days
          ...
13575   603 days
13576   603 days
13577   603 days
13578   603 days
13579   603 days
Name: Date, Length: 13580, dtype: timedelta64[ns]

0        337
1         34
2        428
3        428
4        155
        ...
13575    603
13576    603
13577    603
13578    603
13579    603
Name: Date, Length: 13580, dtype: int64

In [ ]:
# импортируем Pandas и загружаем csv-файл
import pandas as pd
melb_df = pd.read_csv('data/melb_data_ps.csv', sep=',')
#display(melb_df['Date'])

# приводим дату к необходимому виде
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
#display(melb_df['Date'])

# создадим новый признак - возраст объекта AgeBuilding на момент продажи.
# от столбца Date c аксессором dt.year отнимим год постройки YearBuilt
melb_df['AgeBuilding'] = melb_df['Date'].dt.year - melb_df['YearBuilt']
display(melb_df['AgeBuilding'])

# можно удалить столбец с годом постройки т.к. он уже не информативен
#melb_df = melb_df.drop('YearBuilt', axis=1)

Задание 3.3

In [7]:
# импортируем Pandas и загружаем csv-файл
import pandas as pd
melb_df = pd.read_csv('data/melb_data_ps.csv', sep=',')
#display(melb_df['Date'])

# приводим дату к необходимому виде
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
#display(melb_df['Date'])

'''Создайте в таблице melb_df признак WeekdaySale (день недели).
Найдите, сколько объектов недвижимости было продано в выходные (суббота и воскресенье), результат занесите в переменную weekend_count.
В качестве ответа введите результат вывода переменной weekend_count.'''

melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek
weekend_count = melb_df[(melb_df['WeekdaySale'] == 5) | (melb_df['WeekdaySale'] == 6)].shape[0]
print(weekend_count)
#display(melb_df['WeekdaySale'])

melb_df.head()

12822

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates,WeekdaySale
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-12-03,2.5,...,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984",5
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,2016-02-04,2.5,...,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934",3
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,2017-03-04,2.5,...,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,"-37.8093, 144.9944",5
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,2017-03-04,2.5,...,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,"-37.7969, 144.9969",5
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,2016-06-04,2.5,...,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,"-37.8072, 144.9941",5

4.2 Напишите функцию get_weekend(weekday), которая принимает на вход элемент столбца WeekdaySale и возвращает 1, если день является выходным, и 0 — в противном случае, и создайте столбец Weekend в таблице melb_df с помощью неё.
Примените эту функцию к столбцу и вычислите среднюю цену объекта недвижимости, проданного в выходные дни. Результат округлите до целых

In [ ]:
def get_weekend(weekday):
    if weekday == 6 or weekday == 5:
        return 1
    else:
        return 0
    
melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_weekend)
#print(round(melb_df[melb_df['Weekend'] == 1]['Price'].mean(), 2))

4.3 Преобразуйте столбец SellerG с наименованиями риелторских компаний в таблице melb_df следующим образом: оставьте в столбце только 49 самых популярных компаний, а остальные обозначьте как 'other'.
Найдите, во сколько раз минимальная цена объектов недвижимости, проданных компанией 'Nelson', больше минимальной цены объектов, проданных компаниями, обозначенными как 'other'. Ответ округлите до десятых.

In [60]:
#display(melb_df['SellerG'].value_counts())
popular_co = melb_df['SellerG'].value_counts().nlargest(49).index
#print(popular_co)

melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in popular_co else 'other')
#display(melb_df['SellerG'])
min_Nelson = melb_df[melb_df['SellerG']=='Nelson']['Price'].min()
print(min_Nelson)
min_other = melb_df[melb_df['SellerG']=='other']['Price'].min()
print(min_other)
print(round(min_Nelson / min_other, 1))

170000.0
131000.0
1.3

Задачи 3.4 и 3.5. про НЛО

In [58]:
# импортируем Pandas
import pandas as pd

# читаем таблицу_csv из сети
#data_df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv', sep=',')
#display(data_df)

#создаем локальную версию файла_csv
#data_df.to_csv('data/data_df_local.csv', index=False, sep=';')

# читаем файл_csv с локального диска и создаем копию локальной версии для работы
data_df_hw = pd.read_csv('data/data_df_local.csv', sep=';')
#display(data_df_hw)
data_test_hw = data_df_hw.copy()
#display(data_test_hw)

# Задача 3.4. В каком году отмечается наибольшее количество случаев наблюдения НЛО в США?

# преобразуем дату к типу datatime
data_test_hw['Time'] = pd.to_datetime(data_test_hw['Time'], dayfirst=True)
#display(data_test_hw['Time'])

# применяем аксессор year и находим моду mode
#ufo_years = data_test_hw['Time'].dt.year
#print('Max ufo', ufo_years.mode()[0])


# Задача 3.5. Найдите средний интервал времени (в днях) между двумя последовательными случаями наблюдения НЛО в штате Невада (NV).
# создадим дополнительный столбец с датой Date, выделив атрибут datetime dt.day
# в отфильтрованных данных нужно вычислим разницу между двумя последовательными наблюдениями с помощью метода diff()
# и посчитаем среднее количество дней между двумя наблюдениями
# произведём фильтрацию и отберём из данных только штат Невада (NV)

data_test_hw['Date'] = data_test_hw['Time'].dt.date
print(data_test_hw[data_test_hw['State']=='NV']['Date'].diff().dt.days.mean())

68.72084805653711

In [ ]:
import pandas as pd
melb_df = pd.read_csv('data/melb_data.csv', sep=',')

unique_list = []


for col in melb_df.columns:
    
    item = (col, melb_df[col].nunique(), melb_df[col].dtype)
    unique_list.append(item)
    

unique_counts = pd.DataFrame(
    unique_list,
    columns=['Column_Name', 'Num_Unique', 'Type']
).sort_values(by='Num_Unique',  ignore_index=True)




display(unique_counts)

### Столбцы с кол-вом уникальных значений менее 150 переводим в тип Category

1 Задаём список столбцов, которые мы не берём в рассмотрение (cols_to_exclude), а также условленный нами ранее порог уникальных значений столбца max_unique_count.

2 В цикле перебираем имена столбцов, и, если число уникальных категорий меньше заданного порога и имён столбцов нет в списке cols_to_exclude, то с помощью метода astype() приводим столбец к типу данных category.

In [ ]:
import pandas as pd
melb_df = pd.read_csv('data/melb_data.csv', sep=',')

#display(melb_df.info())

cols_to_exclude = ['Data', 'Rooms', 'Bedroom', 'Bathroom', 'Car']
max_unique_count = 150

for i in melb_df.columns:
    if melb_df[i].nunique() < max_unique_count and i not in cols_to_exclude:
        melb_df[i] = melb_df[i].astype('category')
        
#display(melb_df.info())

#print(melb_df['Regionname'].cat.categories)

#display(melb_df['Regionname'].cat.codes)
display(melb_df['Type'])

melb_df['Type'] = melb_df['Type'].cat.rename_categories({
    'u': 'unit',
    't': 'townhouse',
    'h': 'house'
})
display(melb_df['Type'].loc[1000 : 1020])

### Задание 4.4

Представьте, что вы занимаетесь подготовкой данных о вакансиях с платформы hh.ru. В вашем распоряжении имеется таблица, в которой с помощью парсинга собраны резюме кандидатов. В этой таблице есть текстовый столбец «Опыт работы». Пример такого столбца представлен ниже в виде объекта Series. Структура текста в столбце фиксирована и не может измениться.

Напишите функцию get_experience(arg), аргументом которой является строка столбца с опытом работы. Функция должна возвращать опыт работы в месяцах. Не забудьте привести результат к целому числу.

Обратите внимание, что опыт работы может выражаться только в годах или только в месяцах. Учтите это при построении своей функции. Кроме того, учтите возможные вариации слов месяц (месяца, месяцев) и год (года, лет).

In [ ]:
import pandas as pd

def get_experience(arg):
    
    exper = arg.split()
    MM = ['месяц', 'месяцев', 'месяца']
    YY = ['лет', 'года', 'год']
    months = 0
    years = 0
    
    for i in range(len(exper)):
        if exper[i] in MM:
            months = exper[i-1]
        if exper [i] in YY:
            years = exper[i-1]
            
    return int(months) + int(years)*12

if __name__ == '__main__':
    experience_col = pd.Series([
        'Опыт работы 8 лет 3 месяца',
        'Опыт работы 3 года 5 месяцев',
        'Опыт работы 1 год 9 месяцев',
        'Опыт работы 3 месяца',
        'Опыт работы 6 лет'
        ])
    experience_month = experience_col.apply(get_experience)
    print(experience_month)

### Задание 5.2
При преобразовании столбцов таблицы о недвижимости к типу category мы оставили без внимания столбец Suburb (пригород). Давайте исправим это.
1. С помощью метода info() узнайте, сколько памяти занимает таблица melb_df.
2. Преобразуйте признак Suburb следующим образом: оставьте в столбце только 119 наиболее популярных пригородов, остальные замените на 'other'.
3. Приведите данные в столбце Suburb к категориальному типу.

В качестве ответа запишите разницу между объёмом занимаемой памяти до преобразования (который мы получили ранее в модуле) и после него в Мб. Ответ округлите до десятых.

In [ ]:
import pandas as pd
melb_df = pd.read_csv('data/melb_data.csv', sep=',')

#display(melb_df.info()) #2.4+ MB


pop_sub = melb_df['Suburb'].value_counts().nlargest(119).index
#print(pop_sub)

melb_df['Suburb'] = melb_df['Suburb'].apply(lambda x: x if x in pop_sub else 'other')
#display(melb_df['Suburb'])
melb_df['Suburb'] = melb_df['Suburb'].astype('category')
display(melb_df.info())
print(round())
#melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in popular_co else 'other')